@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Define fallback variables. The useTheme hook will override these. */
    --background: hsl(220, 16%, 96%);
    --foreground: hsl(211, 39%, 23%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(211, 39%, 23%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(211, 39%, 23%);
    --primary: hsl(221, 100%, 40%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(248, 44%, 56%);
    --secondary-foreground: hsl(0, 0%, 100%);
    --muted: hsl(214, 12%, 47%);
    --muted-foreground: hsl(214, 12%, 47%);
    --accent: hsl(14, 86%, 47%);
    --accent-foreground: hsl(0, 0%, 100%);
    --destructive: hsl(14, 86%, 47%);
    --border: hsla(221, 100%, 40%, 0.2);
    --input: hsla(221, 100%, 40%, 0.2);
    --ring: hsl(221, 100%, 40%);
    --radius: 0.75rem;
  }

  .dark {
    /* Define dark mode fallback variables. */
    --background: hsl(210, 15%, 8%);
    --foreground: hsl(0, 0%, 92%);
    --card: hsl(210, 22%, 7%);
    --card-foreground: hsl(0, 0%, 92%);
    --popover: hsl(210, 22%, 7%);
    --popover-foreground: hsl(0, 0%, 92%);
    --primary: hsl(191, 100%, 50%);
    --primary-foreground: hsl(0, 0%, 92%);
    --secondary: hsl(247, 78%, 69%);
    --secondary-foreground: hsl(0, 0%, 92%);
    --muted: hsl(220, 13%, 60%);
    --muted-foreground: hsl(220, 13%, 60%);
    --accent: hsl(149, 100%, 50%);
    --accent-foreground: hsl(0, 0%, 92%);
    --destructive: hsl(355, 70%, 55%);
    --border: hsla(191, 100%, 50%, 0.2);
    --input: hsla(191, 100%, 50%, 0.2);
    --ring: hsl(191, 100%, 50%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: 'Poppins', sans-serif;
  }
}
